.venv
.env
venv

__pycache__/
*.pyc
*.pyo
*.pyd   

node_modules/
.DS_Store
*.sqlite3
*.log
instance/
.env.local
.env.production
.env.test
.idea/
.vscode/
*.swp
*.swo
coverage/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pyre/
.mypy_cache/
.dmypy.json
.pytype/
.pyright/
celerybeat-schedule
instance/
.webassets-cache

